body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.header {
  background-color: rgba(17, 26, 53, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: 70%;
  margin: 0 auto;
  height: 42px;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 200px;
  height: 30px;
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.nav {
  size: 800px;
}
.nav__list {
  display: flex;

  justify-content: space-between;
  gap: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contacts__email {
  font-size: 12px;
  text-align: center;
}

.hero {
  block-size: 100vh;
  background-color: aquamarine;
}

.services {
  block-size: 100vh;
  background-color: blueviolet;
}

.main-title {
  padding-top: 400px;
  font-size: 80px;
}
